*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(40, 40, 133);
}

nav .left a{
    text-decoration: none;
    color: white;
}

nav .left a:hover{
    color: rgb(146, 146, 228);
    font-size: 2rem;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}

nav ul li a{
    text-decoration: none;
     color: white;
}

nav ul li a:hover{
    color: rgb(146, 146, 228);
    font-size: 1.04rem;
}
.left{
    font-size: 1.5rem;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}
.firstsection > div{
    width: 30%;
}
.leftsection{
    font-size: 2rem;
}
.rightsection img{
    width: 80%;
}
.purple{
    color: rgb(170, 107, 228);
}

#element{
    color: rgb(170, 107, 228); 
}

/* --------------About section------------- */

.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}

.about-2 img{
    margin: auto;
    width: 17vw;
}

/* --------------contact page---------- */

.contact{
    position: relative;
    min-height: 75vh;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.contact .content p{
    font-weight: 300;
    color: #fff;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}

.contactform{
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactform .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactform .inputBox input,
.contactform .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactform .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~ span,
.contactform .inputBox textarea:focus ~ span,
.contactform .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactform .inputBox input[type="submit"]{
    width: 100px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

/*-----Projects-Section-----*/

.secondsection{
    max-width: 80vw;
    margin: auto;
}

.secondsection h1{
    font-size: 1.8rem;
}

.num{
    display: flex;
}

.first{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
   
}

.second{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px;
   
}
.Third{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 110px;
  
}


